/* Importação da fonte Orelega one
https://fonts.google.com/specimen/Orelega+One#standard-styles
*/
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

*{
    padding:0;
    margin:0;
    font-family: Orelega One ;
    font-size:30px;
    box-sizing: border-box;
}
body{
    background: grey;
}



/***********
Header mennu
************/
header{
    background:black;
    height:60px;
    
}
#title{
    color: white;
    text-align:center;
    line-height: 60px ;
    font-family: Orelega One ;
    font-size:30px
}   
/***********
Fim Header mennu
************/

/************************
Barra de navegação vertical
*********************/

#Barra-lateral{
    list-style-type:none ; 
    padding:0;
    margin:0;
    background-color: rgb(223, 167, 15);
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border:1px solid rgb(36, 35, 33);
    align-items: center; 
}
li{
    border-bottom :1px solid rgb(36, 35, 33);  
    width: 100%;
    text-align: center;
    padding: 15px 0px;
   
    list-style-type:none;
}

.Lista-lateral a{
    color: black;
    background:url(/menu.png) no-repeat;
    list-style-type:none;
    
    text-align: center ; 
    text-decoration: none;
    font-size:25px;   

    
}

a:hover{
    background-position: right bottom;
    color:white;
}


/************************
 Fim da Barra de navegação vertical
*********************/

